* {
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

body {
  font-size: 22px;
}

h2, h3, h4 {
  margin: 0;
  padding: 10px;
}

/*Header*/

header {
  display: flex;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
  justify-content: space-between;
  left: 0px;
  top: 0px;
}

header div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;
}

header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
}

header nav span {
  margin-left: 30px;

}

div.logo img {
  height: 50px;
}

/*Mission*/

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.feature {
  display: flex;
  height: 700px;
  width: 1200px;
  background-image: url(../Images/img-mission-background.jpg);
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.feature-overlay {
  text-align: center;
  width: 100%;
}

/*Featured Teas*/

.featured-teas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1000px;
  text-align: center;
  margin-top: 70px;
}

.img-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}

.img-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 10px 15px;

}

.img-card img {
  height: 200px;
  padding-bottom: 10px;

}

/*Locations*/

.location {
  display: flex;
  flex-direction: column;
  background-image: url(../Images/img-locations-background.jpg);
  height: 600px;
  width: 1200px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
}

.loc-flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

}

.text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 300px;
  width: 300px;
  margin: 15px 20px;
  opacity: 1;

}

#loc-title {
  display: block;
  text-align: center;
  background-color: transparent;
  margin-bottom: 0px;
  margin-top: 60px;

}

/*Footer*/

.footer {
  text-align: center;
  height: 200px;
  margin: 40px auto;
}

#copyright {
  padding: 20px 20px
}
